@use './mixins';

/* Layout **/
.flex {display: flex;}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.jc-center {justify-content: center;}
.jc-left {justify-content: flex-start;}
.jc-end {justify-self: flex-end;}
.jc-space-between {justify-content: space-between;}
.ai-center {align-items: center;}
.ac-left {align-items: flex-start;}
.as-start {align-self: flex-start;}
.js-start {justify-self: flex-start;}

.gap-10 { gap: 10px;}
.gap-20 {gap: 20px;}
.gap-40 {gap: 40px;}
.gap-80 {gap: 80px;}
.gap-120 {gap: 120px;}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-20 {padding: 20px;}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/* Positioning **/
.abosulte-tl-start {
    position: absolute;
    top: 0;
    left: 0;
}

.fixed-tl-start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.relative {position: relative;}


/* Responsiveness **/
.non-mobile {
    @include mixins.tablet {
        display: none;
    }
}

.mobile {
    @include mixins.computer {
        display: none;
    }
}