@use './variables';

/* Typography **/
.font-primary {font-family: variables.$fs-primary;}
.font-secondary {font-family: variables.$fs-secondary;}

.fs-xsm {font-size: variables.$fs-xs;}
.fs-sm {font-size: variables.$fs-sm;}
.fs-med {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 1.0357142857142858rem + 0.2857142857142857vw, 1.25rem);
}
.fs-lg {
    font-size: 1.4375rem;
    font-size: clamp(1.4375rem, 0.9017857142857143rem + 1.7142857142857144vw, 2.1875rem);
}
.fs-xlg {
    font-size: clamp(2.7rem, 6.25vw, 7.5rem);
}

.lh-card {line-height: variables.$lh-card;}
.lh-body {line-height: variables.$lh-body;}

.ls-med {letter-spacing: variables.$ls-med;}
.ls-lg {letter-spacing: variables.$ls-lg;}

.f-weight-normal {font-weight: variables.$fw-400;}
.f-weight-light {font-weight: variables.$fw-300;}
.f-weight-medium {font-weight: variables.$fw-600;}
.f-weight-bold {font-weight: variables.$fw-700;}

.clr-text-light {color: variables.$on-text-color;}
.clr-text-dark {color: variables.$on-text-color-dark;}
.clr-text-primary {color: variables.$primary-color-400;}

.text-uppercase {text-transform: uppercase;}

.bg-dark-400 {background-color: variables.$bg-color-400;}
.bg-dark-300 {background-color: variables.$bg-color-300;}

.pointer {cursor: pointer;}

/* Sizes**/