/* Colors **/
$primary-color-400: #7C6528;
$on-text-color: #E4E2E2;
$on-text-color-dark: #AFAFAF;
$bg-color-400: #0D0F0E;
$bg-color-300: #1A1D1C;

/* Font Weights **/
$fw-300: 300;
$fw-400: 500;
$fw-600: 600;
$fw-700: 700;

/* Font Stacks **/
$fs-primary: 'Barlow', sans-serif;
$fs-secondary: 'Oswald', sans-serif;

/* Font sizes **/
$fs-xs: 1rem;
$fs-sm: 1.125rem;
$fs-med: 1.25rem;
$fs-lg: 2.1875rem;
$fs-xlg: 7.5rem;

/* Font Properties **/
$ls-med: 0.1em;
$ls-lg: 0.25em;
$lh-body: 1.75;
$lh-card: 1.58;



