@use './base/resets';
@use './abstracts/mixins';
@use './abstracts/abstracts';
@use './abstracts/variables';
@use './components/components';
@use './layout/layout';

@include mixins.tablet {
    $bg-color-400: lighten(#0D0F0E, 2);
    $bg-color-300: lighten(#1A1D1C, 3);
}
body {
    background-color: variables.$bg-color-400;
    &::-webkit-scrollbar {background-color: variables.$bg-color-300;}
    &::-webkit-scrollbar-thumb {background-color: variables.$primary-color-400;}
    &::-webkit-scrollbar-corner {background-color: variables.$bg-color-400;}
    &::-webkit-scrollbar-button {background-color: variables.$primary-color-400;}
}
html {
    scroll-behavior: smooth;
}



.name {gap: 1em;}