@use '../abstracts/variables';
@use '../abstracts/mixins';

.about {
    padding-bottom: 140px;
    .name {
        margin-bottom: 90px;
        gap: 1em;
        @include mixins.tablet {
            margin-bottom: 60px;
        }
    }
    &__content {
        @include mixins.tablet {
            flex-direction: column;
        }
        .introduction {
            .title-header.non-mobile{
                margin-bottom: -10px;
            }
            @include mixins.tablet {
                align-items: center;
            }
            & > p {
                @include mixins.tablet {
                    max-width: 90%;
                    text-align: center;

                }
                @include mixins.mobile {
                    max-width: 100%;
                }
            }

        }
    }
    .expertise {
        position: relative;
        @include mixins.tablet {
            align-items: center;
        }
        .expertise__info {
            border-radius: 10px;
            position: absolute;
            top: 70%;
            left: 0;
            right: 0;
            transition: height 0.5s ease-in-out;
            #expertise-title {
                margin-bottom: 10px;
            }
            p {
                transition: opacity 0.5s ease-in-out;
            }
        }
        .expertise__icons-mobile {
            .skill {
                border-radius: 10px;
                max-width: 650px;
                @include mixins.mobile {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }
}