@use '../abstracts/mixins';
@use '../abstracts/variables';

.contact {
    padding-bottom: 50px;
    &__content {
        @include mixins.mobile {
            align-items: center;
        }
        h1 {
            margin-bottom: 30px;
            @include mixins.tablet {
                text-align: center;
            }
        }
        .contact__details {
            @include mixins.mobile {
                justify-content: center;
                form {
                    width: 80vw;
                }
            }
            .fab {
                color: variables.$on-text-color;
                transition: color 0.25s ease-out;
                &:hover {color: variables.$primary-color-400;}
            }
            .buttons {
                @include mixins.mobile {
                    align-self: center;
                }
            }
            .email-address {
                transition: color 0.25s ease-in-out;
                &:hover {color: variables.$primary-color-400;}
            }
        }
    }
}