@use '../abstracts/variables';

.nav {
    z-index: 2;
    position: absolute;
    width: 100%;
    a {
        text-decoration: none;
        color: variables.$on-text-color;
    }
    .menu-button-container {
        .material-icons.menu-icon {
            font-size: 35px;
            color: variables.$primary-color-400;
        }
    }
    .nav__mobile {
        padding-left: 10vw;
        background-color: variables.$primary-color-400;
        position: absolute;
        width: 100%;
        top: -500%;
        left: 0;
        transition: top 0.5s ease-in-out;
    }

    .nav__mobile.shown {
        top: 100%;
    }
}