@use '../abstracts/variables';

.button {
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: variables.$fs-primary;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}

.button[data-type="ghost"] {
    border: 2px solid variables.$primary-color-400;
    border-radius: 500px;
    font-weight: variables.$fw-600;
    transition: transform 0.25s ease-in-out;
    &:hover {transform: scale(0.95);}
}

%text-button {
    font-weight: variables.$fw-600;
    text-transform: uppercase;
    font-size: variables.$fs-sm;
    background: transparent;
    border:none;
    padding: 0;
}

.button[data-type="text-primary"] {
    @extend %text-button;
    color: variables.$primary-color-400;
    &:hover {color: lighten($color: variables.$primary-color-400, $amount: 15);}
}

.button[data-type="text-secondary"] {
    @extend %text-button;
    color: variables.$on-text-color;
    &:hover {color: variables.$primary-color-400;}
}

.button[data-type="icon"] {
    @extend %text-button;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: variables.$primary-color-400;
    &:hover {
        .material-icons {
            margin-left: 10px;
        }
    }

    .material-icons {
        color: variables.$primary-color-400;
        font-size: 24px;
        transition: margin-left 0.25s ease-in-out;
    }
}