@use '../abstracts/variables';
@use '../abstracts/mixins';

.text-field {
    width: 100%;
    .input-border {
        border-radius: 8px;
        background-color: variables.$bg-color-300;
        padding: 8px;
        margin-top: 15px;
        width: 100%;
        min-width: 380px;
        @include mixins.mobile {min-width: 0;}
        input {
            background-color: variables.$bg-color-400;
            border: none;
            outline: none;
            height: 40px;
            width: 100%;
            padding: 10px;
        }
    }
}

.message-field {
    @extend .text-field;
    textarea {
        background-color: variables.$bg-color-400;
        border: none;
        outline: none;
        width: 100%;
        padding: 8px;
        height: 250px;
    }
}