@use '../abstracts/variables';

.title-header {
    position: relative;
    p {
        color: darken(variables.$primary-color-400, 12);
        &:before {
            content: '';
            display: inline-block;
            height: 2px;
            width: 20px;
            margin-right: 5px;
            background-color: darken(variables.$primary-color-400, 12);
        }
    }
}